.renderAll-button {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  text-transform: uppercase;
  border: solid black 5px;
  border-radius: 10px;
}
.renderAll-button:hover {
  border: solid blue 5px;
  background-color: lightblue;
}

.renderOne-button button {
  font-weight: bold;
  border: solid blue 5px;
  border-radius: 10px;
}
.renderOne-button button:hover {
  border: solid black 5px;
  background-color: lightblue;
}

button {
  padding: 10px 24px;
  margin: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.category-bottons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
